<h1>Name: <%= @sea.name %></h1>
<p>Temperature: <%= @sea.temperature %></p>
<p>Bio: <%= @sea.bio %></p>
<p>Mood: <%= @sea.mood %></p>
<p>Image: <%= @sea.image_url %></p>
<p>Favorite Color: <%= @sea.favorite_color %></p>
<p>Scariest Creature: <%= @sea.scariest_creature %></p>
<p>Has Mermaids? <%= @sea.has_mermaids %></p>
